.userCard {
  margin: 5px;
  min-height: 60px;
}
.smallProfileImage {
  display: block;
  max-width:50px;
  max-height:50px;
  width: auto;
  height: auto;
  float: left;
}
.followButton {
  margin:5px;
}
