<mat-card class="userCard">
  <img class="smallProfileImage" *ngIf="otherUserInfo!.imagePath" src="{{otherUserInfo!.imagePath}}">
  <img class="smallProfileImage" *ngIf="!otherUserInfo!.imagePath" src="assets/profile.png">
  <mat-card-title>{{otherUserInfo!.firstName + " " + otherUserInfo!.lastName}}</mat-card-title>
  <button class="followButton" mat-raised-button (click)="viewProfile(otherUserInfo!.username)">View profile</button>
  <button class="followButton" *ngIf="isFollowing(otherUserInfo!.username)" mat-raised-button (click)="unfollow(otherUserInfo!.username)">Unfollow</button>
  <button class="followButton" *ngIf="receivedRequest(otherUserInfo!.username)" mat-raised-button (click)="acceptRequest(otherUserInfo!.username)">Accept</button>
  <button class="followButton" *ngIf="receivedRequest(otherUserInfo!.username)" mat-raised-button (click)="rejectRequest(otherUserInfo!.username)">Reject</button>
  <button class="followButton" *ngIf="sentRequest(otherUserInfo!.username)" mat-raised-button (click)="revokeRequest(otherUserInfo!.username)">Revoke</button>

  <button class="followButton" *ngIf="canFollow(otherUserInfo!)" mat-raised-button (click)="follow(otherUserInfo!.username)">Follow</button>
  <button class="followButton" *ngIf="canRequestFollow(otherUserInfo!)" mat-raised-button (click)="requestFollow(otherUserInfo!.username)">Send Follow request</button>

</mat-card>
