<app-header></app-header>
<div class="editProfile">
  <mat-card>
    <form class="loginForm" [formGroup]="profileForm" (submit)="profileForm.valid && editProfile()" noval>
      <mat-card-content>
        <div>
          <mat-form-field class="field-full-width">
            <input id="firstName"
                   matInput
                   formControlName="firstName"
                   placeholder="First Name"/>
            <mat-error>First Name can not be blank.</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input id="lastName"
                   matInput
                   formControlName="lastName"
                   placeholder="Last Name"/>
            <mat-error>Last Name can not be blank.</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input id="phone"
                   matInput
                   formControlName="phone"
                   placeholder="Phone number"/>
            <mat-error>Phone number can not be blank.</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input id="bio"
                   matInput
                   formControlName="bio"
                   placeholder="Bio"/>
            <mat-error>Bio can not be blank.</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <input id="website"
                   matInput
                   formControlName="website"
                   placeholder="website"/>
            <mat-error>Website can not be blank.</mat-error>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <mat-select id="gender" formControlName="gender" placeholder="Gender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
            </mat-select>
            <mat-error>Gender can not be blank.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Enter birthday</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" id="date" placeholder="Birthday">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="field-full-width">
            <mat-select id="publicProfile" formControlName="publicProfile" placeholder="Public profile">
              <mat-option value=true>Yes</mat-option>
              <mat-option value=false>No</mat-option>
            </mat-select>
            <mat-error>Gender can not be blank.</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <button type="submit" id="loginBt" mat-stroked-button color="primary" class="btn-block loginBt">Edit</button>
    </form>
    <button mat-raised-button>Cancel</button>
  </mat-card>
</div>

