<app-header></app-header>
<mat-card class="profileCard">
  <div class="float">
    <img class="profileImage" *ngIf="userInfo && userInfo.imagePath" [src]="userInfo.imagePath" alt="Profile image">
    <img class="profileImage" *ngIf="!userInfo || !userInfo.imagePath" src="assets/profile.png" alt="Profile image generic">
  </div>
  <div>
    <mat-card-title>{{getName()}}</mat-card-title>
    <mat-card-subtitle>{{getUsername()}}</mat-card-subtitle>
    <h5>Birthday: {{getBirthday()}}</h5>
    <div>
      <h3>Biography</h3>
      <p>
        {{getBio()}}
      </p>
    </div>
  </div>

</mat-card>
<mat-card class=posts *ngIf="getPublicProfile()">
  <mat-card-title>Posts</mat-card-title>
</mat-card>
